<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Statut</th>
                                    <th>Nombre</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Acceptées</td>
                                    <td>{{ acceptedCount }}</td>
                                </tr>
                                <tr>
                                    <td>Refusées</td>
                                    <td>{{ rejectedCount }}</td>
                                </tr>
                                <tr>
                                    <td>En attente</td>
                                    <td>{{ pendingCount }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
